<div id="<%= dom_id profile %>">
  <p>
    <%= profile.name %>
  </p>

  <p>
    <%= link_to profile.youtube, profile.youtube %>
  </p>

  <p>
    <%= link_to profile.twitch, profile.twitch %>
  </p>

  <p>
    <%= link_to profile.twitter, profile.twitter %>
  </p>

  <p>
    <%= link_to profile.email, profile.email %>
  </p>

  <p>
    <%= link_to profile.other, profile.other %>
  </p>

</div>
